.Header,
.Footer {
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: calc(5px + 2vmin);
    font-weight: regular;
    width: 30vw;
    right: 0;
    padding-right: 10vw;
}

.Header {
    top: 0;
}

.Footer {
    bottom: 10px;
}

a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: currentColor;
}

a:after {
    content: "";
    height: 1px;
    position: absolute;
    pointer-events: none;
    bottom: -5px;
    left: 0;
    right: 0;
    opacity: 0;
    background: currentColor;
    transform: scale(0, 1);
    transition: all 200ms;
}

a:hover:after {
    opacity: 1;
    transform: scale(1, 1);
}

.Header a {
    color: #AD6600;
}

.Footer a {
    color: #FFFFFF;
}