.Header,
.Footer {
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: calc(3vmin);
    font-weight: regular;
    width: 40vw;
    right: 0;
    transform: translateX(-15vmin);
}

.Header {
    top: 1vh;
}

.Footer {
    bottom: 2vh;
}

a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: currentColor;
}

a:after {
    content: "";
    height: 1px;
    position: absolute;
    pointer-events: none;
    bottom: -1vh;
    left: 0;
    right: 0;
    opacity: 0;
    background: currentColor;
    transform: scale(0, 1);
    transition: all 200ms;
}

a:hover:after {
    opacity: 1;
    transform: scale(1, 1);
}

.Header a {
    color: #AD6600;
}

.Footer a {
    color: #FFFFFF;
}

@media (max-aspect-ratio: 1.33/1) {

    .Header,
    .Footer {
        transform: none;
        width: 90vw;
        right: 5vw;
    }
}