.Header,
.Footer {
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: clamp(2em, 2vw, 4em);
    font-weight: regular;
    width: 30dvw;
    right: calc(10dvw + 30vmin);
    transform: translateX(50%);
}

.Header {
    top: 1vh;
}

.Footer {
    bottom: 2vh;
}

a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: currentColor;
}

a:after {
    content: "";
    height: 1px;
    position: absolute;
    pointer-events: none;
    bottom: -1dvh;
    left: 0;
    right: 0;
    opacity: 0;
    background: currentColor;
    transform: scale(0, 1);
    transition: all 200ms;
}

a:hover:after {
    opacity: 1;
    transform: scale(1, 1);
}

.Header a {
    color: #AD6600;
}

.Footer a {
    color: #FFFFFF;
}

@media (max-aspect-ratio: 1.33/1) {

    .Header,
    .Footer {
        transform: none;
        width: 80dvw;
        right: 10dvw;
    }
}