html,
body {
    /* background-color: #1f3746; */
    background-color: #e6f4f1;
    transition: background-color 250ms ease-out 50ms;
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    inset: 0;
    font-family: georgia, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: -webkit-fill-available;
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
        env(safe-area-inset-bottom) env(safe-area-inset-left);
}
