html,
body {
    background-color: #1f3746;
    transition: background-color 250ms ease-out 50ms;
    min-height: 100dvh;
    min-width: 100dvw;
    margin: 0;
    inset: 0;
    font-family: georgia, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: -webkit-fill-available;
}
