.App {
  position: relative;
  text-align: center;
  background-color: #1f3746;
  font-weight: lighter;
}

.intro {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #AD6600;
  font-family: Josefin Sans, sans-serif;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  height: 30vmin;
  border-radius: 25px;
  border: 5px solid #1F3746;
  filter: drop-shadow(5px 5px 4px #000000a0);
  pointer-events: none;
}

.name {
  font-size: calc(10px + 4vmin);
  font-weight: regular;
  filter: drop-shadow(3px 3px 1px #000000a0);
}

.about {
  font-size: calc(10px + 2vmin);
}