.App {
  position: relative;
  overflow: hidden;
  text-align: center;
  align-items: center;
  background-color: #1f3746;
  height: 100dvh;
  width: 100dvw;
}

.intro {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #AD6600;
  font-family: Josefin Sans, sans-serif;
  top: 33dvh;
  left: 30dvw;
  transform: translateX(-50%);
  width: 50dvw;
}

.logo {
  position: absolute;
  justify-content: flex-start;
  height: 30vmin;
  border-radius: 4vmin;
  border: 0.75vmin solid #1F3746;
  filter: drop-shadow(0.33vw 0.33vmin 0.25vmin #000000a0);
  pointer-events: none;
  right: 10dvw;
  top: 30dvh;
  transform: translateX(-50%);
}

.name {
  font-size: clamp(2rem, 8vmin, 9rem);
  filter: drop-shadow(0.33vw 0.33vmin 0.25vmin #000000a0);
  white-space: nowrap;
  margin-bottom: 2dvh;
}

.about {
  font-weight: lighter;
  font-size: 4vmin;
  margin-top: 0;
}

/* Tablet-sized devices */
@media (max-aspect-ratio: 1.33/1) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .logo {
    transform: none;
    top: 15dvh;
    left: 50dvw;
    transform: translateX(-50%);
  }

  .intro {
    position: absolute;
    top: 45dvh;
    left: 50dvw;
    width: 90dvw;
  }
}