name: Deploy to GitHub Pages

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Bun
              uses: oven-sh/setup-bun@v1

            - name: Install dependencies
              run: bun install

            - name: Lint
              run: bun run lint

            - name: Build
              run: bun run build

            - name: Create .nojekyll
              run: touch build/.nojekyll

            - name: Upload Artifacts
              uses: actions/upload-pages-artifact@v3
              with:
                  path: "build/"

    deploy:
        if: github.event_name == 'push'
        needs: build
        runs-on: ubuntu-latest

        permissions:
            pages: write
            id-token: write

        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}

        steps:
            - name: Deploy
              id: deployment
              uses: actions/deploy-pages@v4
